body {
    text-align: center;
    font: sans-serif;
    color: black;
    background: 
    linear-gradient(rgba(208,208,208,.3), rgba(208,208,208,.3)), 
    url("images/maine_ocean.jpg"), no-repeat;
    background-size: cover;
}

header {
    color: grey;
    font-weight: bold;
}
header h3 {
    color: black;
}

#highlights {
    text-align: left;
    color: navy;
    background-color: #CADCE6;
    font-size: 18px;
    border-radius: 10%;
    
}
#profile {
    opacity: .85;
    border-radius: 70%;
}

div #list {
    list-style-type: circle;
    margin: 0px;
    padding: 0px 20px;
    font-weight: bold;

}
div h4 {
    font-size: 35px;
    margin: 10px 0px 0px 20%;

}
.trans {
    opacity: .5;
    width: 60%;
    min-width: 350px;
}

footer {
    color: black;
    text-align: center;
}
footer a:hover {
    font-weight: bold;
}
footer a:visited {
    color: red;
}
footer a {
    text-decoration: none;
}
#linkedin {
    margin: -8px 0px ;
    padding: 0px;
}

.subPoints {
    font-size: 15px;
}